[submodule "BookTemplate"]
	path = BookTemplate
	url = https://github.com/OpenBookshelf/BookTemplate
[submodule "Template"]
	path = Template
	url = https://github.com/OpenBookshelf/PersianTextbookTemplate.git
